/*
 ____                                    _   ____                  
|  _ \ _ __ __ _  __ _    __ _ _ __   __| | |  _ \ _ __ ___  _ __  
| | | | '__/ _` |/ _` |  / _` | '_ \ / _` | | | | | '__/ _ \| '_ \ 
| |_| | | | (_| | (_| | | (_| | | | | (_| | | |_| | | | (_) | |_) |
|____/|_|  \__,_|\__, |  \__,_|_| |_|\__,_| |____/|_|  \___/| .__/ 
                 |___/                                      |_|    
*/

body {
	font-family: "Arial", sans-serif;
}

.options {
	width:100%;
	
	border:1px solid #ccc;
	color:#737373;
	border-radius:10px;

}

.execute {
	width:100%;
	height:50px;
	border:2px #ccc;
	color:#ccc;
	text-align: center;
	border-radius:10px;
}

.dropzone {
	width:100%;
	height:75px;
	border:2px dashed #ccc;
	color:#4CAF50;
	text-align: center;
	border-radius:10px;
}

.dropzone.dragover {
	border-color:#000;
	color:#000;
}

.sampleDataButton {
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	align: center;
	cursor: pointer;
	border-radius:10px;
	box-shadow: 1px 1px 2px #b3b3b3;
}

.sampleDataButton.active {
    background-color: #4CAF50; /* Green */
    color: white;
}

.sampleDataButton.inactive {
    background-color: #f2f2f2; /* Grey */
    color: #808080;
}

/*
 ____   _____ 
|  _ \ |___ / 
| | | |  |_ \ 
| |_| |  __) |
|____/ |____/ 

*/
.chart-container {

}

#graph_Generic rect {
    /* fill: steelblue; */
  }

.chart rect {
   /* fill: steelblue; */
  }

.axis path,
.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 12px;
}

.chart .current {
	fill: green;
	cursor: pointer;
}

.titleLabel {
	align: center;
	word-wrap: normal;
	white-space: normal; 
}

.summaryGraphLabels {
	font-size: 12px;
}


.summaryLegendLabels {
	font-size: 12px;
}
.dataValuesText {
	font-size: 12px;
}


.tick line {
	stroke: #cccccc;
	/*stroke-dasharray: 2,2;
	*/
}

.outsideTicks {
	stroke: #000;
	shape-rendering: crispEdges;
	
}

.axis path {
	stroke: black;
	
}


.yAxisLabel {
	font-size: 12px;
}

.errorBars {
	shape-rendering: crispEdges;
}